# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
.venv/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other
*.swp
*.swo
*~
.DS_Store